<a href="https://colab.research.google.com/github/edatfreecodecamp/python-math/blob/main/Week_01_code_for_proportions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set up a proportion:<br>
$\frac{n1}{d1}=\frac{n2}{d2}$

In [1]:
# Put a zero in for the unknown value
n1 = 1
d1 = 2
n2 = 4
d2 = 0

if n2==0:
    answer = d2 * n1 / d1
    print("n2 = ", answer)

if d2==0:
    answer = n2 * d1 / n1
    print("d2 = ", answer)

d2 =  8.0

In [6]:
x = 1+2/3+3+4/5-7

In [7]:
x

-1.533333333333334

In [9]:
y = 2/3

In [12]:
xy = y*10

In [17]:
xy

6.666666666666666

In [18]:
xy - y

5.999999999999999

In [26]:
# Converting Money
dollar = 1
rand = 18.30 # rand to the dollar rate as of 26/04/2023

exchange_rate = dollar/rand

In [27]:
20 / exchange_rate

366.0

In [28]:
20 * rand/dollar

366.0

In [29]:
# Converting distance Miles to KM's
mile = 1
kilometer = 1.6

In [30]:
20 * mile/kilometer

12.5

In [31]:
20 * kilometer/mile

32.0

In [1]:
def area(length, width):
    total_area = (length + 16) * (width + 16) - length * width
    print(f"The total area in square cm is {total_area}")

In [2]:
area(8, 8)

The total area in square cm is 512

In [3]:
area(32, 24)

The total area in square cm is 1152

In [4]:
(4/1) - (2/3)

3.3333333333333335

In [5]:
10/3

3.3333333333333335